.parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.childone
{
  width: 30%;
  padding: 2%;
  border: 1px solid #ddd;
  margin: 2%;
  box-shadow:5px 5px;
  border-radius:10px;
  background-color: orange;
  text-align:center;
}
.childtwo
{
  width: 70%;
  padding: 2%;
  border: 1px solid #ddd;
  margin: 2%;
  box-shadow:5px 5px;
  border-radius:10px;
  background-color: green;
  text-align: center;
}
body{
  background-color:tomato;
}
@media only screen and (min-width:1025px) and (max-width:1550px){
  .parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .childone
  {
    width: 50%;
    padding: 2%;
    border: 1px solid #ddd;
    margin: 2%;
    box-shadow:5px 5px;
    border-radius:10px;
      text-align: center
    background-color: orange;
  }
  .childtwo
  {
    width: 50%;
    padding: 2%;
    border: 1px solid #ddd;
    margin: 2%;
    box-shadow:5px 5px;
    border-radius:10px;
      text-align: center
    background-color: violet;
  }
}
